* {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-size: 1.4em;
}
header {
  background-color: rgb(58, 54, 100);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1em;
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
}
h1 {
  padding-left: 50px;
  margin: 0;
}
nav {
  padding-right: 100px;
  margin: 0;
}
nav ul {
  display: flex;
  gap: 100px;
}
nav > ul > li {
  list-style: none;
}
nav a {
  color: white;
  text-decoration: none;
}
nav a:hover {
  cursor: pointer;
  color: rgb(180, 180, 185);
}
main {
  width: 80%;
  max-width: 800px;
  margin: 80px auto;
}
fieldset {
  border: none;
}
#html,
#css {
  background-color: rgb(58, 54, 100);
  color: white;
}
#html fieldset,
#css fieldset {
  border: 1px solid white;
  margin-bottom: 25px;
}
fieldset#student-info {
  display: flex;
  flex-direction: column;
  margin: 40px auto;
}
h2#student-info {
  text-decoration: underline;
}
section#student-info {
  margin: 140px auto;
}
#student-info label {
  margin-top: 20px;
  margin-bottom: 5px;
}
#student-info input {
  font-size: 1em;
}
input#DOB {
  padding: 3px;
}
#html,
#css {
  margin-bottom: 100px;
  padding: 5px 20px;
}
legend {
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 1em;
}
#question1 label,
#question2 label,
#question3 label,
#question4 label {
  display: block;
  padding: 10px;
}
select,
textarea {
  display: block;
  margin-top: 15px;
  margin-bottom: 50px;
  font-size: 0.7em;
}
select {
  background-color: rgb(58, 54, 100);
  color: white;
  padding: 5px;
}
textarea {
  font-size: 1em;
  padding: 5px;
}
input[type="submit"] {
  margin-left: 38%;
  margin-bottom: 80px;
  background-color: rgb(58, 54, 100);
  color: white;
  cursor: pointer;
  border: none;
  padding: 8px;
  width: 20%;
  font-size: 0.8em;
}
footer {
  background-color: rgb(58, 54, 100);
  height: 60px;
  padding: 8px;
  text-align: center;
}
address {
  color: white;
  font-size: 0.8em;
  line-height: 22px;
}
span {
  display: block;
}
@media only screen and (max-width: 600px) {
  body {
    font-size: 0.7em;
  }
  header {
    width: 100%;
  }
  h1 {
    font-size: 14px;
    padding-left: 12px;
    word-spacing: 2px;
  }
  nav {
    padding-right: 28px;
  }
  nav ul {
    font-size: 10px;
    gap: 10px;
  }
  main {
    width: 280px;
  }
  h2 {
    font-size: 16px;
  }
  section#student-info {
    margin: 15px auto;
  }
  fieldset#student-info {
    margin: 20px auto;
  }
  input#DOB {
    padding: 1px;
  }
  #html,
  #css {
    margin-bottom: 20px;
  }
  select,
  textarea {
    margin-bottom: 15px;
  }
  textarea {
    width: 200px;
    height: 80px;
  }
  input[type="submit"] {
    margin-bottom: 0;
    width: 25%;
  }
  footer {
    padding-top: 3px;
    padding-bottom: 0;
    height: 46px;
    width: 100%;
  }
  address {
    line-height: 12px;
  }
  #question1 label,
  #question2 label,
  #question3 label,
  #question4 label {
    padding: 2px;
  }
}
@media only screen and (min-width: 650px) {
    header {
        height: 80px;
    }
  h1 {
    font-size: 26px;
  }
  h2 {
      font-size: 24px;
  }
  nav ul {
    font-size: 20px;
    gap: 30px;
  }
  textarea {
    width: 400px;
    height: 80px;
  }

