* {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-size: 1.4em;
}
header {
  background-color: rgb(58, 54, 100);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1em;
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
}
h1 {
  padding-left: 50px;
  margin: 0;
}
nav {
  padding-right: 100px;
  margin: 0;
}
nav ul {
  display: flex;
  gap: 100px;
}
nav > ul > li {
  list-style: none;
}
nav a {
  color: white;
  text-decoration: none;
}
nav a:hover {
  cursor: pointer;
  color: rgb(180, 180, 185);
}
main {
  width: 80%;
  max-width: 800px;
  margin: 80px auto;
}
fieldset {
  border: none;
}
#html,
#css {
  background-color: rgb(58, 54, 100);
  color: white;
}
#html fieldset,
#css fieldset {
  border: 1px solid white;
  margin-bottom: 25px;
}
fieldset#student-info {
  display: flex;
  flex-direction: column;
  margin: 40px auto;
}
h2#student-info {
  text-decoration: underline;
}
section#student-info {
  margin: 140px auto;
}
#student-info label {
  margin-top: 20px;
  margin-bottom: 5px;
}
#student-info input {
  font-size: 1em;
}
#html,
#css {
  margin-bottom: 100px;
  padding: 5px 20px;
}
legend {
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 1em;
}
#question1 label,
#question2 label,
#question3 label,
#question4 label {
  display: block;
  padding: 10px;
}
select,
textarea {
  display: block;
  margin-top: 15px;
  margin-bottom: 50px;
  font-size: 0.7em;
}
select {
  background-color: rgb(58, 54, 100);
  color: white;
  padding: 5px;
}
textarea {
  font-size: 1em;
  padding: 5px;
}
input[type="submit"] {
  margin: 10px auto;
  background-color: rgb(58, 54, 100);
  color: white;
  cursor: pointer;
  border: none;
}
